.tab-content {
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}
.clear{
	clear:both;
}
#note-text,textarea[name="approval_message"], textarea[name="delete_message"], textarea[name="custom_message"]{
	height:161px;
}
#notify-row{
	background-color: yellow !important;
	color: black;
}
#notify-row a i{
	color: black;
}
#active-row a i,#removed-row a i, #extra-charge-row a i, #banned-row a i{
	color: white !important;
}
#await-agree-row{
	background-color: #C082FF !important;
	color: white;
}
#approve-renew-row{
	background-color: #ADDFFF !important;
}
#approve-renew-row > td, #approve-renew-row a i, #approve-renew-row a{
	color: black;
}
#approve-row{
	background-color: #FFA500 !important;
	color: white;
}
#approve-row a i, #approve-row a{
	color: white;
}
#await-agree-row a i, #await-agree-row a{
	color: white;
}
#active-row{
	background-color: green !important;
	color: white;
}
#removed-row{
	background-color: gray !important;
	color: white;
}
#extra-charge-row{
	background-color: red !important;
	color: white;
}
#banned-row{
	background-color: black !important;
	color: white;
}
#modal_popup_phone .modal-body p{
	font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.circle-state.notify {
	background-color: yellow;
}
.circle-state.active{
	background-color: green;
}
.circle-state.removed{
	background-color: gray;
}
.circle-state.extra-charge{
	background-color: red;
}
.circle-state.banned{
	background-color: black;
}


.circle-state.agreed{
	background-color: #C082FF;
}

.circle-state.approve{
	background-color: #FFA500 ;
}

.circle-state.renew-approve{
	background-color: #ADDFFF;
}

.state h3{
	 display: inline;
     padding-left: 10px;
	  font-size: 13px;
}
.circle-state {
    border-radius: 50%;
    display: inline;
    float: left;
    height: 20px;
    width: 20px;
}
#renew-inc{
	color:black;
}
#renew-inc .form-group{
	display:block;
}
#renew-inc .modal-body h4 {
    color: #00cc88;
}
#renew-inc hr {
    margin: 17px 0;
}
.state-inc .circle-state.active {
    margin-right: 10px;
}
.extra-charges{
	 display: inline-block !important;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
.inc-prices h1{
	margin-top:0px !important;
}
.custom-form input[type="text"], .custom-form textarea{
    width: 100%;
}
.custom-form .form-group {
    /* display: inline-block !important; */
    margin-bottom: 20px;
    width: 100% !important;
}
input[name="email_id"] {
    margin-top: 20px;
}
.col-md-6.padd-o {
    padding-left: 0;
}
.col-md-12.state div {
    padding-bottom: 10px;
}

.no-print {
    display: none !important;
}

.required {
    color: #ff0000;
}
.empty_space_btn {
    padding: 1px 12px;
}

.all_insurances td {
    padding: 3px !important;
    //text-align: center;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
	padding-right: 15px !important;
}

.action-a > a {
	margin: 1px;
}

.form-control.datepicker {
    background: #ffffff none repeat scroll 0 0;
}

.circle-state.waiting-approval {
    background-color: #ffffff;
    border: 1px solid #000000;
}
/*  #All_Plans_wrapper .row:nth-child(3), .paginate_button.previous.disabled {
    display: none;
}  */
#custom_pagination .paginate_button.previous.disabled {
    display: none;
} 
.col-md-12.state {
    margin-top: 20px;
}
#All_Plans{
	
	width:100%;
}
.All_Plans th{
	 padding: 10px 2px;
}
.All_Plans .fa.fa-arrow-down, .All_Plans  .fa.fa-arrow-up {
    padding-left: 7px;
}
.page_list_custom select.input-sm {
    display: inline-block;
    width: 86px;
}

.search-input {
	display: inline-block;
    width: 110px;
}

.search {
	display: inline-block;
    width: 85px;
}
@media (min-width: 1024px) {
	
	.search-field-custom{
		text-align:right;
	}
	
}#google_ad_code_textbox{	height:135px;}.margin-right{	margin-right:15px;}

/* Single-giveaway css start */
.title {
  background-color: #deebf7;
  border: 1px solid #3b4c9b;
  color: #000000;
  font-family: roboto;
  font-size: 23px;
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize;
}

.picture { /* background-color:#deebf7; border:1px solid #3b4c9b; */ color:#000000; font-family:roboto; font-size:14px; /* padding:20% 0; */ margin:10px 0; text-align:center; }
.pic {
  padding: 0 0 23px;
}
.buy-button { color:#fff; background-color:#5b9bd5; border:1px solid #3b4c9b; border-radius:5px; padding:10px; }

.buy-button1 {
  background-color: #5b9bd5;
  border: 1px solid #3b4c9b;
  border-radius: 5px;
  color: #fff;
  margin: 0 40px 0 0;
  padding: 10px 60px;
}
.buy-button2 {
  background-color: #5b9bd5;
  border: 1px solid #3b4c9b;
  border-radius: 5px;
  color: #fff;
  margin: 0 102px 0 0;
  padding: 10px 60px;
}
.buy-button3 {
  background-color: #5b9bd5;
  border: 1px solid #3b4c9b;
  border-radius: 5px;
  color: #fff;
  padding: 10px 60px;
}
.buy { padding:0; }
.buy li { list-style:none; float:left; }

.pic_vedio {
  border: 1px solid gray;
  height: 297px;
}
.title1 { background-color:#5b9bd5; border:1px solid #3b4c9b; color:#fff; font-family:roboto; font-size:14px; padding:10px; }
.desc {
  background-color: #5b9bd5;
  border: 1px solid #3b4c9b;
  color: #fff;
  font-family: roboto;
  font-size: 14px;
  margin: -11px 0 10px;
  padding: 0 14px;
}
.share { color:#000; font-family:roboto; font-size:14px; padding:15px 0 0 10px; }
.social {
  padding: 0 0 55px;
}
.social li { float:left; list-style:none; padding:10px 10px 0; }
.comment { background-color:#deebf7; color:#fff; font-family:roboto; font-size:14px; border:1px solid #3b4c9b; height:33px; margin:10px 0 0; width:30%; }
.time {
  color: #333;
  font-family: roboto;
  padding: 8px 0 56px;
}

.tabby-tabs ul li, .tabby-tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabby-tabs ul:before {
  display: table;
  content: " ";
}

.tabby-tabs ul:after {
  clear: both;
  display: table;
  content: " ";
}

.tabby-tabs ul {
  margin-bottom: 15px;
}

.tabby-tabs ul li {
  float: left;
  position: relative;
  display: block;
}

.tabby-tabs ul li a {
  background-color:#9dc3e6;
  position: relative;
  display: block;
  padding:8px 227px;
  border:1px solid #3b4c9b;
  border-radius: 0;
  color: #fff;
  font-size: 19px;
  font-family:roboto;
  margin:15px 0 0 1px;
}

.tabby-tabs ul li a:hover, .tabby-tabs ul li a.active {
  background-color: #deebf7;
  border: 1px solid #131313;
  color: #333333;
  text-decoration: none;
}

div[data-tab] {
  display: none;
  position: relative;
  min-height: 200px;
  padding-bottom: 30px;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 -25px 0;
  border-bottom: 6px solid rgba(0, 0, 0, .1);
  border-left: 6px solid rgba(0, 0, 0, .1);
  border-right: 6px solid rgba(0, 0, 0, .1);
  border-top: 6px solid rgba(0, 0, 0, .4);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: rot .6s infinite linear;
          animation: rot .6s infinite linear;
}
@-webkit-keyframes rot {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}
@keyframes rot {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}


.main-class nav {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.not_reached {
  padding: 46px 0 0;
}

.red {
  color: red;
}

.s_media {
  padding: 15px 0;
}
.special {
  border: 1px solid #3b4c9b;
  border-radius: 10px;
  float: none;
  margin: 0 auto 40px;
  padding: 8px;
  width: 1170px;
}
.buy-button.form-button {
  float: right;
  margin-top: 5px;
}

.user-comment {
  clear: both;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 100%;
}

.user-comment:nth-child(2n) {
  background-color: #DEEBF7;
}
span.comment-date {
  font-weight: bold;
}
p.comment-desc {
  padding-top: 5px;
  word-wrap: break-word;
}
.display_name {
  font-weight: bold;
  margin: 0 !important;
}
.comment-date em {
  font-weight: bold;
}
.padd0{
	padding:0px;
}
.plan_features{
	 background-color: rgb(204, 204, 204);
    padding: 10px;
}
.pagination {
	  float: right;
	}
	.search_back{
		float: right;
	}
	
	.er_msg {
	  background: #eee none repeat scroll 0 0;
	  border: 1px solid #c2c2c2;
	  border-radius: 10px;
	  color: red;
	  font-size: 24px;
	  margin-bottom: 20px;
	  margin-top: 20px;
	  padding: 11px 0;
	  text-align: center;
	}