sup {
	color: #FF0000;
}

.success {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #3c763d;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #000;
	margin: 20px 0;
	padding: 9px;
	text-align: center;
}

.login #login_error {
	background: #fff none repeat scroll 0 0;
	border-left: 4px solid #dd3d36;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	margin: 20px 0;
}

#login_error,
.login .message {
	margin-left: 0;
	padding: 12px;
}

.login .message {
	background-color: #fff;
	border-left: 4px solid #00a0d2;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	margin: 20px 0;
}

.hotel {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
}

.terms {
    border-top: 1px solid;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin-top: 30px;
}

.checkbox label, .radio label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 20px;
    /* padding-left: 0px !important; */
}

.meeting {
    border-bottom: 1px solid;
    font-size: 11px;
    margin-bottom: 15px;
    padding-bottom: 12px;
}




/*************************************************************************/

.form-group-1 label {
    font-size: 12px;
    padding: 18px 0 0;	
}


.color {
    border-color: #000;
}
.pull-right.top {
    margin: 0 0 20px;
}
.meeting_footer {
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.center {
    text-align: center;
}


.slot-table th, .slot-table td {
	text-align: center;
}


/**************************************clock***********************************/

.clock > ul {
    display: inline;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.clock > ul > li {
    display: inline;
}

.clock {
    text-align: center;
	display: inline;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}


.header-size {
	padding-right:0px!important;
	padding-left:0px!important;
}

.loading {
    text-align: center;
}


.fa.fa-eye.cursor {
    cursor: pointer!important;
}


.edit-hed-box {
    background: #ababab none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 13px;
    padding: 6px 13px;
}


.bg-pink {
    background: #f8f1e7 none repeat scroll 0 0!important;
}

.cursor, .fa {
    cursor: pointer;
}



h1, h2,ul {
	clear: both;
}

ul.pagination1 li:hover,
ul.pagination2 li:hover,
ul.pagination3 li:hover {
	background-color: #FF9500;
}

ul.pagination1 li,
ul.pagination2 li,
ul.pagination3 li {
    padding: 10px;
    font-family: georgia;
	background-color: #8890FC;
    font-size: 24px;
    color: #fff;
    line-height: 1;
    width: 600px;
    margin-bottom: 1px;
	list-style:none;
}

ul.red {
	outline:10px solid red;
}

ul.simplePagerNav li{
    display:block;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    font-family: georgia;
	font-size:14px;
}

ul.simplePagerNav li a{
    color: #333;
    text-decoration: none;
}

li.currentPage {
	background: red;
    background: #FF9500;	
}

ul.simplePagerNav li.currentPage a {
	color: #fff;	
}

table.pageme {
    border-collapse: collapse;
    border: 1px solid #ccc;
}  

table.pageme td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.hed-box {
    background-color: rgb(17, 28, 60);
    border-bottom: 5px solid rgb(238, 105, 28);
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 4px rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-family: open sans;
    font-size: 18px;
    padding: 15px 30px;
}

.form-bg {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 20px 40px;
}

.skill_name {
    background: #fbfbf7 none repeat scroll 0 0;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    color: #929090;
    height: 34px;
    padding: 5px 12px;
    width: 100%;
}
  .edit-hed-box{

    background-color: rgb(17, 28, 60);
    border-bottom: 5px solid rgb(238, 105, 28);
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 4px rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-family: open sans;
    font-size: 18px;
    margin-top: 25px;
    padding: 15px 30px;
	display:none;
}
.edit-form-bg {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 20px 40px;
}
.edit-hed-box1 {
  background-color: rgb(17, 28, 60);
  border-bottom: 5px solid rgb(238, 105, 28);
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 4px rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-family: open sans;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 25px;
  padding: 7px 28px;
}

.noteConference {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color orange;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 8px;
    padding: 10px;
}
.noteConference p {
    font-weight: bold; 
}
.perma-mem {
width:12%;
}
.mem-since {
width:14%;
}





#add_more {
  margin-bottom: 30px;
  }
  
.fa.fa-times.cross {
  padding-left: 10px;
}

.pro-upload {
  background: #eee none repeat scroll 0 0;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  box-shadow: 0 0 1px rgb(0, 0, 0);
  margin-bottom: 15px;
  padding: 17px;
}
.dan{
 float :right;
}

 .pro-upload .file-title{
  padding-left: 20px;
} 

.inside-content {
  border-radius: 7px;
  box-shadow: 0 0 4px rgb(0, 0, 0);
  margin-top: -20px;
  padding: 18px 18px 10px;
}
.view-info .edit-form-bg, .view-info .form-bg {
  box-shadow: 0 0 !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}

.view-info .btn, .view-info .ext, .view-info .note, .view-info input[type="file"], .view-info br{
 display: none;
}

#order li a{
	height:50px;
}
.nav-order  > li > a {
  padding: 0px !important;
}

span.author-name {
    font-weight: bold;
}
.user-comments {
    margin: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
	border-radius: 5px;
}

.dispute-info,.comment-header {
    padding: 10px;
	font-weight:bold;
}
.clear{
	clear:both;
}
.user-comment {
	clear: both;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 100%;
}
.list-comments {
    margin-top: 20px;
    max-height: 500px;
    overflow-y: scroll;
}
.user-comment h2 {
    margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-size:20px !important;
}
.comment-header {
    font-size: 14px;
}
span.comment-date {
    font-weight: bold;
}
p.comment-desc{
	padding-top:5px;
	word-wrap: break-word;
}
.comment-box{
	margin-top: 20px;
    padding-left: 0px !important;
}
#disput_comment{
	width: 100%;
    height: 100px;
    margin: 0px;
}
#comment-box-form{
	background: #D9EDF7;
    padding: 20px;
    border-radius: 5px;
}
.user-comment:nth-child(2n) {
    background-color: #d9edf7;
}
#edit-dispute-infos > tbody > tr:nth-of-type(2n+1){
	background:#D9EDF7;
}

/*************Background Colors*******************/
.bg-gold {
	background-color: #DAA520 ! important; 
	color: #fff;
}

.bg-silver {
	background-color: #c0c0c0 ! important;
	color: #fff;
}

.bg-diamond {
	background-color: #e4e4e4 ! important;
	color: #fff;
}

.bg-lady{
	background-color: #FF69B4 ! important;
	color: #fff;
}

.bg-inactive{
	background-color: #FF0A12 ! important;
	color: #fff;
}

.bg-total{
	background-color: #F7F492;
	color: #fff;
}

.bg-paid{
	background-color: #B898E6 !important;
	color: #fff;
}

.small-box:hover {
	color: #000 !important;
}
/************ / Background Colors*****************/